In [7]:
import sqlite3
import pandas as pd

In [9]:
con = sqlite3.connect("basketball.sqlite")

In [14]:
query = """SELECT 
TEAM_ID_HOME,
SEASON,
AVG(FGM_HOME) AS FGM_HOME,
AVG(FGA_HOME)  AS FGA_HOME,
AVG(FG3M_HOME) AS FG3M_HOME,
AVG(FTM_HOME) AS FTM_HOME,
AVG(FTA_HOME) AS FTA_HOME,
AVG(OREB_HOME) AS OREB_HOME,
AVG(DREB_HOME) AS DREB_HOME,
AVG(AST_HOME) AS AST_HOME,
AVG(STL_HOME) AS STL_HOME,
AVG(TOV_HOME) AS TOV_HOME,
AVG(PF_HOME) AS PF_HOME,
AVG(PTS_HOME) AS PTS_HOME
FROM Game WHERE SEASON > 2001 AND SEASON < 2020
GROUP BY TEAM_ID_HOME, SEASON"""
df = pd.read_sql_query(query, con)

In [15]:
df

,TEAM_ID_HOME,SEASON,FGM_HOME,FGA_HOME,FG3M_HOME,FTM_HOME,FTA_HOME,OREB_HOME,DREB_HOME,AST_HOME,STL_HOME,TOV_HOME,PF_HOME,PTS_HOME
0,1610612737,2002,35.560976,77.780488,5.024390,20.804878,26.097561,11.097561,31.560976,21.731707,7.536585,16.121951,22.073171,96.951220
1,1610612737,2003,35.073171,79.634146,5.170732,20.853659,26.536585,12.658537,31.707317,20.292683,7.609756,15.707317,22.682927,96.170732
2,1610612737,2004,36.243902,81.268293,3.975610,17.414634,24.585366,13.926829,29.195122,20.121951,7.414634,15.853659,24.121951,93.878049
3,1610612737,2005,36.902439,79.853659,5.439024,19.975610,26.463415,13.146341,27.585366,20.390244,6.512195,14.292683,24.341463,99.219512
4,1610612737,2006,35.585366,78.731707,4.292683,21.097561,27.512195,12.243902,29.048780,20.439024,8.146341,15.512195,23.512195,96.560976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,1610612766,2015,37.487805,84.219512,10.609756,19.878049,25.146341,8.780488,36.463415,22.975610,6.902439,12.390244,18.000000,105.463415
534,1610612766,2016,38.146341,85.048780,9.975610,20.317073,25.512195,8.951220,34.951220,24.121951,6.780488,10.609756,15.756098,106.585366
535,1610612766,2017,39.536585,86.634146,9.951220,20.902439,27.585366,10.073171,35.414634,21.804878,6.829268,13.463415,17.317073,109.926829
536,1610612766,2018,40.926829,89.048780,11.951220,19.341463,24.000000,9.609756,35.097561,23.756098,6.975610,12.439024,19.463415,113.146341
537,1610612766,2019,37.774194,85.677419,12.064516,16.612903,22.290323,11.064516,31.387097,24.225806,6.419355,15.225806,18.935484,104.225806